.card {
    height: 450px;
    width: 26%;
    background: #ebe9e9;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 400px;
    border-radius: 8px;
    height: 280px;
}
.card-content {
    margin-top: 10px;
    height: 300px;
    width: 400px;
    text-align: center;
    border: 2px solid rgb(10, 10, 10);
    overflow: auto;
    border-radius: 20px;
}
.ctitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  
}
.cdesc {
    font-size: 14px;
    color: #4f4e4e;
    margin-top: 12px;
    
}
.cspec {
    font-size: 15px;
    color: #464545;
    display: flex;
    width: 100%;
    margin-top: 30px;
   

    overflow-x: auto;  
    white-space: nowrap; 
    scrollbar-width: thin;
    
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.cspec::-webkit-scrollbar {
    display: none; 
}

.box{
    overflow:auto;
    height: 70px;
    width: 150px;
    border: 3px solid rgb(10, 10, 10);
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    margin-right: 10px;
    margin-left: 10px;
    flex-shrink: 0; 

    scrollbar-width: none; 
    -ms-overflow-style: none;
}

.box::-webkit-scrollbar {
    display: none; 
}

.card-content::-webkit-scrollbar {
    display: none; 
}



