nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 36px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 15px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 1800px;
    height: 40px;
    border: 2px solid rgb(214, 209, 209);
    /* margin-bottom: 90px; */

}

nav > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav > h1 {
    font-size: 1.8rem;
    color: rgb(25, 22, 22);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav > ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav > ul > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(23, 23, 23);
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

nav>ul>a:hover {
    background: rgba(50, 45, 45, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}
